body{
	background-color:#E0E0E0;
}
img{
	width:500px;
	height:500px;
	float:left;
	border-radius:5%;
	border-style:dotted;
	border-color:#ED3554;
}
.content{
	width:500px;
	margin-left:20px;
	background-color:#ffffff;
	float:left;
	border-radius:10%;
	border-style:dotted;
	border-color:#ED3554;
	
}
.content a{
	text-decoration:none;
	color:#ED3554;
	text-align:center;
}

.content p{
	padding-left:20px;	
	text-indent:20px;
}
