@import url(https://fonts.googleapis.com/css?family=Maven+Pro);
*{
	box-sizing:border-box;
}
*{
	font-family: 'Maven Pro', sans-serif;
	padding:0px;
	margin:0px;
}
hr{
	margin:8px 0px 8px 0px;
}
a{
	font-family: 'Maven Pro', sans-serif;
}
.clr{
	clear:both;
}
body{
	margin:0px;
	padding:0px;
	background-color:#F3F3F4;
	background-image:url(../img/bg.jpg);
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-size:cover;
	background-origin:padding-box;
}
#wrap{
	width:1000px;
	margin:auto;
	position:relative;
}
#header{
	width:100%;
	height:35px;
	background-color:#1E1D1D;
	box-shadow:0px 2px 12px 0px rgba(50, 50, 50, 0.75);
}
#header a{
	color:#FDC22D;
	text-decoration:none;
	line-height:35px;
	vertical-align:middle;
	margin-right:15px;
	font-size:14px;
	font-size:12px;
}
#header a:nth-child(1){
	margin-left:100px;
}
#header a:nth-child(3){
	margin-left:625px;
}
#menu{
	position:absolute;
	z-index:2;
	top:0px;
	left:-10px;
}
#list-menu{
	list-style-type:none;
	list-style-position:inside;
	padding:0px;
	background-color:#CD2025;
	width:97px;
	position:absolute;
	left: 8px;
    top: 85px;
	border-radius:5px;
}

#list-menu > li > a{
	text-decoration:none;
	display:block;
	width:100%;
	height:30px;
	color:#ffffff;
	font-size:12px;
	text-align:center;
	line-height:30px;
	vertical-align:middle;
}

#list-menu > li > a:hover{
	background-color:#ffffff;
	color:#CD2025;
}
#list-food1{
	display:none;
	position:absolute;
	left: 97px;
    top: 1px;
	list-style-type:none;
	list-style-position:inside;
	padding:0px;
	width:530px;
	height:275px;
	border-radius:5px;
	background-image:url(../img/menu-layout.png);
	background-position:center;
	background-repeat:no-repeat;
}
#list-menu li:hover #list-food1{
	display:block;
}
#list-food1>li{
	margin-top:10px;
	display:block;
	width:30%;
	float:left;
}
#list-food1>li>span{
	font-weight:bold;
	font-size:16px;
}
.list-food2{
	margin-top:40px;
	list-style-type:none;
	list-style-position:inside;
	padding:0px;
}
.list-food2 > li{
	margin-top:10px;
}
.list-food2 a{
	text-decoration:none;
	color:#929292;
	display:block;
	width:100%;
}
.list-food2 a:hover{
	color:#CD2025;
	width:80%;
}

/************Footer*************/
#footer{
	margin-left:12%;
	width:88%;
	height:60px;
}
#footer-ct{
	font-family: 'Maven Pro', sans-serif;
	font-size:13px;
	width:100%;
	height:100%;
	background-color:#C01111;
	color:#ffffff;
	border-radius:5px;
}
#footer-ct p{
	text-align:center;
}